*{
    margin: 0px;
    padding: 0px;
}

body {
  font-family: Verdana;
  background-color: lightgrey;
}

#title{
    position: fixed;
    width: 100%;
    background: black;
    color: white;
    height: 100px;
}

.tile{
    background-color: #999999;
    margin: 5px;
    padding: 10px 5px 10px 5px;
    width:20%;
    height: 100px;
    display: block;
    overflow: scroll;
}

#topics-learnt {
    font-family: "Courier New";
}

a:hover{
    color : red;
}

h1 {
    color: white;
    border: 1px solid black;
}

h3{
    color:white;
    width: 100%;
    padding: 5px;
    height: 50px;
}

.container{
    margin-bottom: 10px;
    padding: 100px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-start; */
    /* border: 2px dashed black; */
}

p{
    font-weight: bold;
}

/* #tile1{
    position: relative;
    left:50px;
} */